extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      p.lead Хронодекс
        .row
          table.table-condensed
            thead
              tr
                th Время начала
                th Код
                th Описание
                th Продолжительность
                th Продуктивность
            tbody
              each chrono in chronos
                tr
                  td= chrono.time
                  td= chrono.area
                  td= chrono.desc
                  td= chrono.duration
                  td= chrono.quality
    .col-xs-12.col-sm-4
      p.lead Статистика дня
      .row
        img(src='/images/chronodex.png' width='100%')
      .row
        img(src='/images/dailyGraph.png' width='100%')        